
<!DOCTYPE html>
<html>
    <head>
        <title>open_ab - Variation C - By Prototypr.ai</title>
        <meta name="description" content="Bring ideas to market faster w/ prototypr.ai">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://www.prototypr.ai/static/styles/mockup.css" rel="stylesheet">
        <link href="https://www.prototypr.ai/static/styles/lp_generator_components.css" rel="stylesheet">
        <link href="/static/css/custom.css" rel="stylesheet">

        <!-- Google Tag Manager Data Layer -->
        <script>
          dataLayer = [{
            "experiment_name": "Server Side Test 01",
            "experiment_variation": "Variation C"
          }];
        </script>
        <!-- End Google Tag Manager Data Layer -->

        <!-- Google Tag Manager - Update with your GTM Account -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TD9N4N6');</script>
        <!-- End Google Tag Manager -->

    </head>
    <body>
        <!-- Google Tag Manager (noscript) - Update with your GTM Account -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TD9N4N6"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div id="notification-msg-container" class="flex-container">
            <p id="dspaces-message" class="flex-child">Bring ideas to market faster w/ prototypr.ai</p>
            <a id="save-this-dash-cta" class="flex-child" href="https://www.prototypr.ai/?utm_source=open-ab&utm_medium=referral">
                <p id="save-this-copy">SIGN UP</p>
            </a>
        </div>
        <div id="dashboard-container">

            <section id="hero-section" class="flex-container" data-componentid="0">
                <div id="value-prop-3-copy" class="flex-child hero-section-subcontainer">
                    <p class="hero-micro-copy">open_ab</p>
                    <h1 id="hero-section-title" class="hero-title edit-content" data-editelement="Headline">Variation C</h1>
                    <p class="hero-description">Refresh this page to see open_ab randomize the page on this route</p>
                    <a id="hero-cta" class="value-prop-cta btn btn-primary" data-editelement="Button" data-element='primary-cta' href="#">REFRESH TODAY</a>
                </div>
                <div id="hero-image-container" class="flex-child">
                    <img id="hero-visual" class="edit-content" alt="variation-a-city" data-editelement="Image" src="/static/img/variationC_hero.png"/>
                </div>
            </section>

            <footer class="footer flex-container" data-section='footer'>
                <div id="footer-col-1" class="flex-child">
                    <a id="logo-cta" href="https://www.prototypr.ai/?utm_source=open-ab&utm_medium=referral">
                        <img id="your-company-logo" src="/static/img/prototypr_ai_logo.png" alt="data narrative x prototypr.ai logo"/>
                    </a>
                    <p class="footer-copy">Copyright 2023 - All Rights Reserved</p>
                    <p><a class="footer-links" data-element='footer-link' href="/privacy/">Privacy</a> - <a class="footer-links" data-element="footer-link" href="#">Sitemap</a></p>
                    <p><a id="made-w-data-cta" href="https://www.prototypr.ai/?utm_source=open-ab&utm_medium=referral"><img id="made-w-ai-badge" alt="Responsible AI Badge" src="/static/img/responsible_ai_badge.png"/></a></p>
                </div>
                <div id="footer-col-2" class="flex-child">
                    <h6 class="footer-column-header">Links</h6>
                    <p><a class="footer-links" data-element="footer-link" href="/">Home</a></p>
                    <p><a class="footer-links" data-element="footer-link" href="#">Products</a></p>
                    <p><a class="footer-links" data-element="footer-link" href="#">Blog</a></p>
                    <p><a class="footer-links" data-element="footer-link" href="#">Contact</a></p>
                </div>
                <div id="footer-col-2" class="flex-child">
                    <h6 class="footer-column-header">Products</h6>
                    <p><a class="footer-links" data-element="footer-link" href="#">Product I</a></p>
                    <p><a class="footer-links" data-element="footer-link" href="#">Product II</a></p>
                    <p><a class="footer-links" data-element="footer-link" href="#">Product III</a></p>
                    <p><a class="footer-links" data-element="footer-link" href="#">Product IV</a></p>
                    <p><a class="footer-links" data-element="footer-link" href="#">Product VI</a></p>
                </div>
            </footer>

        </div>
    </body>
</html>